<%- contentFor('body') %>
<div style="margin-top:1%;margin-right: 12%;">
  <div class="d-flex flex-row-reverse">
    <a href="/newexpense" type="button" class="btn btn-success"
      ><i class="fas fa-plus"></i> Criar Despesa</a
    >
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <table id="example" class="display" style="width:100%">
      <thead>
        <tr>
          <% headerList.forEach(function(header) { %>
          <th><%= header.label %></th>

          <% }) %>
        </tr>
      </thead>
      <tbody>
        <% expenseList.forEach(function(expense) { %>
        <tr>
          <% headerList.forEach(function(header) { %>
          <td><%= expense[header.id] %></td>

          <% }) %>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <script>
      addDataTable("#example");
    </script>
  </div>
</div>
