<%- contentFor('body') %>
<form
  style="
margin-top: 5%;
margin-left: 3%;
margin-right: 3%;
margin-bottom: 5%;
"
>
  <div class="form-group">
    <label for="expense">Despesa(*)</label>
    <input
      type="number"
      class="form-control required"
      id="expense"
      placeholder="5.00"
    />
  </div>
  <div class="form-group">
    <label for="expenseCategory">Categoria Despesa(*)</label>
    <select class="form-control" id="expenseCategory">
      <option>Renda</option>
      <option>Saúde</option>
      <option>Comida</option>
    </select>
  </div>
  <div class="form-group">
    <label for="description">Descrição</label>
    <textarea class="form-control" id="description" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="bill">Foto de Fatura</label>
    <input type="file" class="form-control-file" id="bill" />
  </div>
  <div class="form-group">
    <label>* - campo obrigatório</label>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-success">Criar</button>
  </div>
</form>
